name: Docker

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Check for changed files
        id: changed-files
        uses: tj-actions/changed-files@v47
        with:
          files: |
            **/Dockerfile

      - name: Print list of changed Dockerfiles
        if: steps.changed-files.outputs.any_changed == 'true'
        run: |
          echo "Changed Dockerfiles:"
          echo "${{ steps.changed-files.outputs.all_modified_files }}" | tr ',' '\n' | grep 'Dockerfile' || echo "No Dockerfiles changed."

      - name: Set up QEMU
        if: steps.changed-files.outputs.any_changed == 'true'
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        if: steps.changed-files.outputs.any_changed == 'true'
        uses: docker/setup-buildx-action@v3

      - name: Build Dockerfiles
        if: steps.changed-files.outputs.any_changed == 'true'
        run: |
          changed_files=$(echo "${{ steps.changed-files.outputs.all_modified_files }}" | tr ',' '\n' | grep 'Dockerfile')

          for dockerfile_path in $changed_files; do
            echo "----------------------------------------------------------------------------------------------------"
            echo "Building Dockerfile located at $dockerfile_path"
            echo "----------------------------------------------------------------------------------------------------"
            
            image_tag="wkobiela/$(dirname $dockerfile_path | tr '[:upper:]' '[:lower:]'):latest"

            docker build --file "$dockerfile_path" --tag "$image_tag" .
          done
